{% extends 'base.html' %}


{% block content %}

{% if question %}
	<h3>Question: {{ question }}</h3>
	<br/>
{% endif %}


<div class="card">
  <div class="card-header">
    ChatGPT Response
  </div>
  <div class="card-body">
    {% if response %}
    	{{ past_responses|safe }}
    {% endif %}
    <br/><br/>
    
  </div>
</div>

<br/><br/>

{% if past_responses %}
<form method=POST action="{% url 'home' %}">
  {% csrf_token %}
  <div class="mb-3">
  	<input type="hidden" name="past_responses", value="{{ past_responses }}">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Ask ChatGPT A Question" name="question">
  </div>
  
  
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>


{% else %}


<form method=POST action="{% url 'home' %}">
  {% csrf_token %}
  <div class="mb-3">
  	<input type="hidden" name="past_responses", value="41elder41">
  </div>

  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Ask ChatGPT A Question" name="question">
  </div>
  
  
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endif %}
{% endblock %}
